<nav class="navbar navbar-inverse">
	<ul class="nav navbar-nav">
		<li><a routerLink="about" routerLinkActive="active"> About Us </a></li>
		<li><a routerLink="blog" routerLinkActive="active"> Blog </a></li>
		<li><a routerLink="top" routerLinkActive="active"> Top Songs </a></li>
	</ul>
</nav>

<!--<div class="container-fluid">
	<div class="col-md-1"></div>
	<div class="col-md-2" style="text-align: center;">About Us</div>
	<div class="col-md-2"></div>
	<div class="col-md-2" style="text-align: center;">Blog</div>
	<div class="col-md-2"></div>
	<div class="col-md-2" style="text-align: center;">Top 5 Songs</div>
	<div class="col-md-1"></div>
</div>-->