<div class="container-fluid">
	
	<div class="row">
		<img src="{{SURL}}" alt="{{SURL}}" height="300px" width="100%">
	</div>

	<div class="row">
		{{SName}}
		<br>
		{{Description}}
	</div>

	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-10">
			<div class="btn-group" style="width: 100%; height: 40px">
				<button class="btn">
					<span class="glyphicon glyphicon-chevron-left"></span>
				</button>
				<button class="btn">
					Pause/Play
				</button>
				<button class="btn">
					<span class="glyphicon glyphicon-chevron-right"></span>
				</button>
			</div>
		 </div>
		 <div class="col-md-1"></div>
	</div>

	<div class="row" style="height: 40px">
		<input type="range" max="330" min="0" value="0">
	</div>

</div>